---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import CardProject from "../../components/CardProject.astro";

type Post = CollectionEntry<"projects">;

const posts = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const activePosts = posts.filter(post => post.data.active);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="pb-6 text-xl underline font-bold">
        <h1>Projects</h1>
      </div>
      <div class="flex flex-row gap-x-4 flex-wrap">
        {
          activePosts.map((post: Post) => (
            <div class="flex gap-2 justify-between pb-6">
            <CardProject 
              imagePath={post.data.heroImage}
              altText="Something"
              title={post.data.title}
              description={post.data.description}
              slug={post.slug}
            />
            </div>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
